@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

.game {
   height: 100%;
   background-color: #86A59C;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container {
   height: 10vh;
   width: 30vw;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15vh;
   background-color: #e1e0e0;
   border-radius: 2vw;
   position: relative;
}

h1 {
   font-family: "Jersey 10", serif;
   letter-spacing: .2rem;
   color: #e1e0e0;
   font-weight: 300;
   text-align: center;
   font-size: 4vw;
}

#sound {
   width: 5%;
   height: 10%;
}

#capybara {
   transition-delay: 0.5s;
   position: relative;
}